* {
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 20% auto;
    border: 1px solid black;
}

main {
    display: grid;
    grid-template-columns: 20% auto;
}

#header-left {
    border: 1px solid black;
}

#header-right {
    border: 1px solid black;
    text-align: center;
}

#left {
    border: 1px solid black;
}

#left h2 {
    text-align: left;
    padding-inline-start: 20px;
}

#left ul {
    list-style-type: none;
    padding-inline-start: 20px;
}

#right {
    border: 1px solid black;
    height: 600px;
    display: flex;
}

#form-container {
    width: 20%;
    margin: 0 auto;
    position: relative;
    top: 100px;
}

.main-div {
    border: 1px solid black;
    margin: 0 auto;
    width: 50%;
}

#main-info-div {
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#friend-image {
    height: 200px;
}

#friend-choice-div {
    border: 1px solid black;
    margin-top: 20px;
    text-align: center;
}

.choice-label {
    display: flex;
    justify-content: center;
    margin: 20px;
}

a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: line-through;
}

#results-div {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#gameover-image {
    height: 200px;
}

#restart-button {
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    height: 100px;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}